<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="friend" >
  	<insert id="add">
		insert into friend values(#{one}, #{other}, sysdate)
	</insert>
	<select id="readOne" resultType="java.util.HashMap">
		select  f.*, m.* from friend f join member m on f.one= m.id where one=#{one}
	</select>
	
  </mapper>