<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="interest" >
  	<insert id="addInterest">
		insert into interest values(interest_seq.nextval, #{id}, #{num}, sysdate)
	</insert>
	<select id="listInterest" resultType="java.util.HashMap">
		select * from interest  where id=#{id} 
	</select>
	<delete id="delete"> 
		delete from interest where num=#{num} 
	</delete>
	
	
  </mapper>
  
