<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="addBasic">
		insert into member(id, nickname, pass) values (#{id},#{nickname}, #{pass})		
	</insert>
	<insert id="addDetail">
		insert into detail(id, regdate) values (#{id}, sysdate)		
	</insert>
	
	<select id="checkById" resultType="java.lang.Integer">
		select count(*) from member where (id=#{id})
	</select>
	<select id="checkByNickname" resultType="java.lang.Integer">
		select count(*) from member where (nickname=#{name})
	</select>

	
	<update id="updateOneDetail">
		update detail set gender=#{gender}, birth=#{birth}, genre=#{genre}, regdate=sysdate
			where id=#{id} 
	</update>
	<update id="updateOneProfile">
		update detail set url=#{url}, regdate=sysdate where id=#{id}
	</update>
	
	<select id="readLatestProfileById" resultType="java.util.HashMap">
		select * from detail where (id=#{id})
	</select>
</mapper>













