<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="addBasic">
		insert into member(id, nickname, pass, flag) values (#{id},#{nickname}, #{pass}, #{flag})		
	</insert>
	<insert id="addDetail">
		insert into detail(id, url, regdate) values (#{id}, #{url}, sysdate)		
	</insert>
	
	<!-- 로그인시 체크 -->
	<select id="existOne" resultType="java.lang.Integer"> <!-- 있는지 체크 -->
		select count(*) from member where (id=#{id})
			 and pass=#{pass, jdbcType=VARCHAR } 
	</select>
	<select id="readOneById" resultType="java.util.HashMap"> <!-- id와 nickname을 auth에 저장 -->
		select m.id, m.nickname, d.url  from member m join detail d 
		on m.id=d.id  where (m.id=#{id})
	</select>
	
	<!-- 회원가입시 체크 -->
	<select id="checkById" resultType="java.lang.Integer">
		select count(*) from member where (id=#{id})
	</select>
	<select id="checkByNickname" resultType="java.lang.Integer">
		select count(*) from member where (nickname=#{name})
	</select>

	<!-- 프로필 : 세부사항 업데이트 / 프로필사진 업데이트 / 최근 프로필 정보 불러오기-->	
	<update id="updateOneDetail"> <!-- null을 설정하고 싶은 mapper에는 jdbcType 설정. 숫자타입:NUMERIC/문자형식:VARCHAR -->
		update detail set birth=#{birth, jdbcType=NUMERIC}, gender=#{gender, jdbcType=VARCHAR}, genre=#{genre, jdbcType=VARCHAR}, regdate=sysdate
			where id=#{id} 
	</update>
	<update id="updateOneProfile">
		update detail set url=#{url}, regdate=sysdate where id=#{id}
	</update>	
	<select id="readLatestProfileById" resultType="java.util.HashMap">
		select * from detail where (id=#{id})
	</select>
	
	<!-- 비밀번호 변경 member테이블에서만 변경하면 됨. -->
	<update id="updatePass">
		update member set pass=#{change, jdbcType=VARCHAR} where id=#{id}
	</update> 
	
	<!-- 회원탈퇴시 flag값 변경 -->
	<update id="updateOutFlag">
		update member set flag=#{flag} where id=#{id}
	</update>
	
	<!-- flag값 가져오기 -->
	<select id="selectFlag" resultType="String">
		select flag from member where (id=#{id})
	</select>
	
	<!-- 검색시 파라미터 닉네임을 아이디로 가져오기 -->
	<select id="readAllByNickname" resultType="java.util.HashMap"> 
		select id from member where nickname like  CONCAT(CONCAT('%', #{nickname}), '%')
	</select>
	
	
</mapper>













