<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="test" >
  	<insert id="save">
		insert into chktest values(chktest_seq.nextval, #{genre}, sysdate)
	</insert>
	<select id="readOne" resultType="java.util.HashMap">
		select * from chktest where num=#{num}
	</select>
	<update id="edit">
		update board set count = count +1 where num =#{num }
	</update>
	
	
  </mapper>