<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="video">
	<insert id="addVideo">
		insert into videolist(num, video_num, add_id, video_title, video_id, channel_url, adddate, image, add_nickname) 
		values (#{num}, video_seq.nextval, #{add_id}, #{video_title}, #{video_id}, #{channel_url}, sysdate,
		#{image}, #{add_nickname})	
	</insert>
	
	<select id="selectVideoList" resultType="java.util.HashMap">
		select * from videolist where (num=#{num}) order by adddate
	</select>
	
	<!-- 재생목록만 불러오기.. videoId만 불러오기.. -->
	<select id="selectVideo_IdList" resultType="java.util.HashMap">
		select video_id from videolist where (num=#{num}) order by adddate
	</select>
	
	<!-- 재생목록 삭제 -->
	<delete id="deleteVideo" >
		delete from videolist where (video_num = ${video_num})
	</delete>
</mapper>












