@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	font-family: 'Nanum Gothic';
}

a{
	color:#000000;
	text-decoration: none;
}
a:hover{
	color: #bbbbbb;
	text-decoration: none;
	cursor:pointer;
}

/*네비게이션*/
.navbar-defalut{
	background-color:#000000;
	border-color:#000000;
}

.navbar-default, navbar-brand {
	color:#ffffff;
}